
@{
    ViewBag.Title = "Контакты";
}

<h4>Контакты</h4>

<table width="90%" align="center">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Мобильный телефон</th>
            <th>Обращение в заг. письма</th>
            <th>Должность</th>
            <th>Дата рождения</th>
        </tr>
    </thead>
</table>

