body {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

div#header div.title, div.item H3, div.item H4, div.pager A
{
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

div#header
{
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

div#header div.title
{
    font-size: 2em;
    padding: .6em;
}

div#content
{
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

table, td, th {
    border: thin solid black; border-collapse: collapse; padding: 5px;
    background-color: lemonchiffon; text-align: left; margin: 10px 0;
}

.dataElem {
    margin: 5px;
}

.editor {margin: 5px;}
.editor-field { margin-bottom: .8em; }
.editor-label { font-weight: bold; }
.editor-label:after { content: ":" }
.text-box { width: 25em; }
